* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clock {
    height: 20vh;
    color: white;
    font-size: 22vh;
    font-family: sans-serif;
    line-height: 20.4vh;
    display: flex;
    align-content: center;
    position: static;
    margin: 0 auto;
    /*background: green;*/
    overflow: hidden;
  }
  
  .clock::before, .clock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
    z-index: 2;
  }
  
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
  }
  
  .clock > div {
    display: flex;
  }
  
  .tick {
    line-height: 17vh;
  }
  
  .tick-hidden {
    opacity: 0;
  }
  
  .move {
    animation: move linear 1s infinite;
  }
  
  @keyframes move {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-20vh);
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
  .quote{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20vh;
    color: white;
    font-size: 4vh;
    font-family: 'Vidaloka', serif;
    /* line-height: 20.4vh; */
    display: flex;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    /* text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue; */
    align-content: center;
    text-align: center;
    position: static; 
    /*background: green;*/
    overflow: hidden;
  }

  .main-view{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }